
<footer class="footi text-center py-1 " style="height: 150px; background-color: rgb(86, 26, 138);;" >
    <div class="container px-5 mt-5 ">
        <div class="text-black-50 small  ">
            <div class="row mb-5 ">
                <div class="col-md-3 p-"><p style="float: left; color: black;"> Copyright &copy; Home-Mate 2023 &reg; </p></div>
                <div class="col-md-6">  </div>
                <div class="col-md-3 p-"><p style="float: left; color: black;"> Designed by Nibin Haridas</p></div>

                
            </div>
         
        </div>
    </div>
</footer>

<!-- <footer class="py-5 bg-success">
    <div class="container"><p class="m-0 text-center text-white ">Copyright &copy; Online Shopping 2023 &reg;</p></div>
</footer> -->
