.imge{
    height: 500px;
    transition: 1s;
}

@media (max-width:1199px){
    .imge{
        height: 500px;
    }
}
@media (max-width:1042px){
    .imge{
        height: 470px;
    }
}
@media (max-width:992px){
    .imge{
        height: 400px;
    }
}
.imge:hover{
    transform: scale(1.1);
    transition: 1s;
}